{% extends 'base.html.twig' %}

{% block title %}Bitchesr |New User{% endblock %}

{% block body %}
    <div class="container mt-4">
         <h1>Create new User</h1>

            {{ include('user/_form.html.twig') }}

        <div class="d-flex justify-content-center mt-6" ><a href="{{ path('app_user_index') }}" class="btn btn-primary mt-4">back to list</a> </div>
    </div>
   
{% endblock %}
